.container {
    max-width: 960px;
    margin: 0px auto;
    font-family: Helvetica;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: orange;
    font-size: large;
}

.billboard {
    margin: 10px 0px;
}

.billboard img {
    width: 100%;
}

.gallery img {
    margin: 0px 40px;
}

@media (max-width:720px){
    .content {
        padding: 20px;
    }
    
    nav ul li {
        display: block;
        padding-left: 20px;
    }
}

@media (max-width: 965px){
    .gallery img {
        display: block;
        margin: 10px auto;
    }
}